
body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: #afb9c5ba;
}


.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
	background-color: #355070 !important;

}

.navbar-brand {
	color: white !important;
}

.nav-link {
	color: white !important;
}






h1 {
    font-size: 20px;
    color: black;
   

}


form {
    position: relative;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border: 1px solid lightgray;
    background-color: #70A288;
}

.message {
    margin-bottom: 10px;
}

@media (max-width: 640px) {

body {
    font-size: 14px;
}

h1 {
    font-size: 18px;

}

form {
    padding: 20px;
}
}

@media (min-width: 768px) {

    body {
        font-size: 14px;
    }
    
    h1 {
        font-size: 20px;
    }

    form {
        padding: 20px;
    }
    }
    

    @media (min-width: 980px) {
        

        form {
            margin-right: 300px;
        }
    }

