
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
	background-color: #355070 !important;

}

.navbar-brand {
	color: white !important;
}

.nav-link {
	color: white !important;
}




.container {
    border: 1px, solid black;
    margin-top: 10px;
  
}


.row1 {
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
    background-color: #70A288;
}


.col-md-6 {
    float: left;
    width: 50%;
}


.row2 {
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    
}


.row2:after {
        content: "";
        display: table;
        clear: both;
      }


img {
    max-width: 100%;
    vertical-align: bottom;
}


.about-content {
    position: relative;
    left: 300px;
    bottom: 180px;
    padding-bottom: 0px;
}

.row3 {
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
    
}


@media (max-width: 640px) {

    body {
        
        font-size: 14px;
    }

    .col-md-6 {
        width: 100%;
        margin-bottom: 10px;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    }



@media (min-width: 768px) {


    img {
        position: relative;
        left: 20px;
    }
}


@media (min-width: 980px) {


    .container {
        width: 60%;
        margin-right: 700px;
        
       
    }
}